.login_box{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form{
    width: 500px;
    height: 400px;
    background: rgb(251, 251, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 8px;
}

.login_title{
    font-size: 25px;
    margin-bottom: 40px;
}

.login_Btn{
    width: 60%;
    padding: 10px 0px;
    margin: 5px 0px;
    border-radius: 30px;
    font-weight: 500;
    border: 1px solid rgb(197, 191, 191);
}

.input_box_icon{
    font-size: 25px;
    margin-right: 5px ;
}